/* 
    Document   : simplecms.css
    Created on : 27.09.2011, 09:37:57
    Author     : marcsteiner
    Description: http://www.w3.org/TR/REC-CSS2/
*/

.simplecms-textcontent, .simplecms-imagecontent { 
   
}

div.simplecms-edit{
    padding: 1px;
    position: relative;
}
div.simplecms-edit.inline{
    display: inline;
    width: 0px;
}


div.simplecms-edit.active{
    background-color: yellow;
    border: red solid 1px;
    padding: 0px;    
    filter:alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity:0.5;        
}


div.simplecms-edit a.simplecms-deletelink, div.simplecms-edit a.simplecms-addlink, div.simplecms-edit a.simplecms-editlink{
    display: none;     
}
div.simplecms-edit.active a.simplecms-deletelink, div.simplecms-edit.active a.simplecms-addlink, div.simplecms-edit.active a.simplecms-editlink{
    display: block;    
    position: absolute;  
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px;    
    top: -12px;
    background: black;    
    background-repeat: no-repeat;
    filter:alpha(opacity=90);
    opacity: 0.9;
    -moz-opacity:0.9;    
    z-index: 999;
    
}
div.simplecms-edit.active a.simplecms-deletelink{
    background: url(images/delete.png);
    background-repeat: no-repeat;
    left: 0px;
}
div.simplecms-edit.active a.simplecms-editlink{
    background: url(images/edit.gif);
    background-repeat: no-repeat;
    left: 26px;
}
div.simplecms-edit.active a.simplecms-addlink{
    background: url(images/add.png);
}

div.simplecms-edit-collection {
    
}
div.simplecms-edit-collection.inline {
    display: inline;
    width: 0px;
}
div.simplecms-edit-collection.active {
   
}

div.simplecms-edit-collection div.simplecms-edit{
    
}
div.simplecms-edit-collection div.simplecms-edit.active{
    
}



form.simplecms-editform{
    min-width: 800px;    
    min-height: 400px;    
}
form.simplecms-editform label{
    min-width: 200px;
    display: block;
    float: left;
    text-align: left;
}
form.simplecms-editform input{
    min-width: 600px;
    display: block;
    float: right;    
    text-align: left;
}
form.simplecms-editform textarea{
    min-width: 800px;
    min-height: 380px;
    display: block;
    text-align: left;
    resize: auto;
}


.simplecms-dialog .btn-primary{
    background:  url(images/save.png);
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 100px;
    padding: 15px;
}


.simplecms-dialog .form-row{
    min-height: 50px;
    
}